# Ignore virtual environments
env1/
venv/
.venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore SQLite database (optional)
db.sqlite3

# Ignore VS Code settings
.vscode/

# Ignore staticfiles (optional, if using collectstatic)
staticfiles/
